version: '3'
services:
  reverse-proxy:
    image: nginx:1.22
    volumes: 
      - ./volumes/reverse-proxy/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports: 
      - "80:80"
      - "443:443"
    restart: always
  backend: 
    # build: ./backend
    image: realman78/discord-clone-backend:latest
    ports: 
      - "5002:5002"
    # container_name: backend
    restart: always

  frontend:
    # build: ./frontend
    image: realman78/discord-clone-frontend:latest
    # volumes:
    #   - ./volumes/frontend/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "3000:3000"
    restart: always
    
    # container_name: frontend
    # stdin_open: true
  # nginx:
  #   image: realman78/nginx-discord:latest
  #   ports: 
  #     - "8080:8080"
#predat konfiguraciju preko voluma nginx-u -> dockerhub tamo ti pise