version: '3'
services:
  backend: 
    # build: ./backend
    image: realman78/discord-clone-backend:latest
    # ports: 
    #   - "5002:5002"
    # container_name: backend
  frontend:
    # build: ./frontend
    image: realman78/discord-clone-frontend:latest
    # ports:
    #   - "3000:3000"
    # container_name: frontend
    # stdin_open: true
    # volumes:
    #    - ./volume1
  nginx:
    image: nginx:latest
    ports: 
      - "80:80"
    environment:
      - NGINX_HOST=_
      - NGINX_PORT=80
    volumes:
      - ./volumes/nginx/conf/default.conf.template:/etc/nginx/templates/default.conf.template
